<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <context:property-placeholder location="database.properties"/>
    <context:component-scan base-package="com.ph.dao" />
    <!--配置数据源   我这是使用Spring的数据源-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${db.driver}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
    </bean>

    <!--mybatis配置-->
    <!--    获取sqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 映射数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 映射mybatis核心配置文件 -->
        <property name="configLocation" value="classpath:mybatisConfig.xml"/>
        <!-- 映射mapper文件 -->
        <property name="mapperLocations">
            <array>
                <!-- 配置单个映射文件 -->
                <!-- <value>classpath:cn/zj/ssm/mapper/UserMapper.xml</value> -->
                <!-- 配置多个映射文件使用 * 通配符 -->
                <value>classpath*:mapper/UserMapper.xml</value>
            </array>

        </property>
    </bean>
    <!-- 获得sqlSession -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <!--只能用构造方法设置-->
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <!--配送声明式事务-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.ph.mapper" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>
    <!--结合aop实现是事物植入-->
    <!--配置事物通知-->
    <tx:advice id="transaction" transaction-manager="transactionManager">
        <!-- 给哪些方法配置事物-->
        <tx:attributes>
            <tx:method name="add*"/>
            <tx:method name="query*" propagation="SUPPORTS"/>
            <tx:method name="update*"/>
            <tx:method name="delete*"/>
        </tx:attributes>
    </tx:advice>
</beans>